.wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.wrapper>div:hover{
    background-color: antiquewhite;
}

.wrapper>div>li{
    list-style: none;
}

.wrapper>div{
    border: 1px solid black;
    padding:10px;
    width: 25vw;
    margin-right: 1vw;
    margin: 0 auto;
    margin-bottom: 2vh;
}