.wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.wrapper>form:hover{
    background-color:rgb(234, 234, 240);
}

.wrapper>form>li{
    list-style: none;
}

.wrapper>form{
    border: 1px solid black;
    padding:10px;
    max-width: 25vw;
    margin-right: 2vw;
    margin: 0 auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
    border-radius: 5px;
    padding: 2vw;
    
}

.wrapper>form{
    display:flex;
    flex-direction: column;
    
}

.wrapper>form>button{
    background-color: rgb(165, 165, 218);
    color:White;
    margin-bottom: 1vh;
    border-radius: 5px;
}

.wrapper>form>button:hover{
    background-color: rgb(125, 125, 179);
}

.edit-list{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.edit-list>div>input{
    width: 24vw;
    margin-bottom: 2vh;
}

.error-message{
    color: red;
    font-size: 80%;
}

.pagination{
    display:flex;
    justify-content: center;
}

textarea{
    max-width: 25vw;
    resize: none;
}