.header-wrapper{
    height: 12vh;
    width: 100%;
    background-color: rgb(92, 110, 209);
}

.header-wrapper>ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.header-wrapper>ul>li{
    list-style: none;
    padding-right: 1vw;
}

.header-wrapper>ul>li>a{
    color:White;
}

h1{
    display:inline-block;
    display:flex;
    justify-content: center;
    color: white;
}