.header-wrapper{
    height: 15vh;
    width: 100%;
    background-color: beige;
}

.header-wrapper>ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.header-wrapper>ul>li{
    list-style: none;
    margin-top: 5vh;
    padding: 1vw;
}